{% load role_tags %}
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <ul class="nav side-menu">
      {% if request.user|has_group:'Admin' %}
        <li><a href="{% url 'login:create_new_user' %}"><i class="fa fa-user"></i> New User </a></li>
        <li><a href="{% url 'login:list_users' %}"><i class="fa fa-list"></i> List Users </a></li>
      {% endif %}
      <li><a href="{% url 'box:box' %}"><i class="fa fa-list"></i> Box </a></li>
      <li><a href="{% url 'box:expenses_box' %}"><i class="fa fa-list"></i> Expenses </a></li>
    </ul>
    
  </div>
</div>
  <!-- /sidebar menu -->