<div class="form-group row">
    <label class="control-label col-md-3" for="id_ci">Ci <span class="required">*</span>
    </label>
    <div class="col-md-7">
        <input type="text" value="{{ ci }}" id="id_ci" name="ci" required="required" class="form-control col-md-7 ">
    </div>
</div>
<div class="form-group row">
    <label class="control-label col-md-3" for="id_name">Name <span class="required">*</span>
    </label>
    <div class="col-md-7">
        <input type="text" value="{{ name }}" id="id_name" name="name" required="required" class="form-control col-md-7 ">
    </div>
</div>
<div class="form-group row">
    <label class="control-label col-md-3" for="id_last_name">Last name <span class="required">*</span>
    </label>
    <div class="col-md-7">
        <input type="text" value="{{ last_name }}" id="id_last_name" name="last_name" required="required" class="form-control col-md-7 ">
    </div>
</div>
<div class="form-group row">
    <label class="control-label col-md-3" for="id_address">Address <span class="required">*</span>
    </label>
    <div class="col-md-7">
        <input type="text" value="{{ address }}" id="id_address" name="address" required="required" class="form-control col-md-7 ">
    </div>
</div>
<div class="form-group row">
    <label class="control-label col-md-3" for="id_phone_number">Phone Number <span class="required">*</span>
    </label>
    <div class="col-md-7">
        <input type="text" value="{{ phone_number }}" id="id_phone_number" name="phone_number" required="required" class="form-control col-md-7 ">
    </div>
</div>