
{% extends 'gentella_base/base.html' %}
{% load static %}
{% load role_tags %}

{% block title %}{{user.company.name}}{% endblock title %}
{% block section %}Loan{% endblock section %}


{% block pageTitle %}Loan{% endblock pageTitle %}

{% block style %}
{% endblock style %}
{% block js %}
{% endblock js %}
    
{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Check Client<small>Search</small></h2>
                
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                    <form class="form-horizontal form-label-left" method="POST" action="{% url 'loan:check_person' %}">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="id_ci" class="control-label col-md-3">Ci</label>
                        <div class="col-md-7">
                            <input id="id_ci" name="ci" type="text" class="form-control col-md-7" >
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Check</button>
                </form>
                
            </div>
        </div>
    </div> 
</div>
 
{% endblock content %}
    
