<div class="form-group row">
    <label class="control-label col-md-3" for="id_description">Description
    </label>
    <div class="col-md-7">
        <textarea name="description" id="id_description" class="form-control col-md-7" cols="3"></textarea>
    </div>
</div>
<div class="form-group row">
    <label for="id_amount" class="control-label col-md-3">Amount
    </label>
    <div class="col-md-7">
        <input type="number" id="amount_id" name="amount" class="form-control col-md-7" required>
    </div>
</div>   