{% extends 'gentella_base/base.html' %}
{% load role_tags %}
{% load static %}

{% block title %}Profile{% endblock title %}
{% block section %}User{% endblock section %}


{% block pageTitle %}Profile{% endblock pageTitle %}


{% block style %}
<link href="{% static 'vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">
{% endblock style %}
    
{% block js %}  
    <script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
    <script src="{% static 'vendors/switchery/dist/switchery.min.js' %}"></script>
{% endblock js %}
    

{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Profile <small>User edit</small></h2>
                
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal form-label-left" method='POST' >

                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="id_username" class="control-label col-md-3">Username</label>
                        <div class="col-md-7">
                            <input id="id_username" type="text" class="form-control col-md-7" value="{{edit_us.username}}" disabled>
                        </div>
                    </div>
                    {% include "login/person.html" with ci=edit_us.ci name=edit_us.name last_name=edit_us.last_name address=edit_us.address phone_number=edit_us.phone_number is_active=edit_us.is_active %}
                    <div class="form-group row">
                        <label class="control-label col-md-3" for="id_password">Password
                        </label>
                        <div class="col-md-7">
                            <input type="text" id="id_password" name="password" class="form-control col-md-7 ">
                            <span>May you leave it blank, if you don't want to change the password.</span>
                        </div>
                    </div>
                    {% if request.user|has_group:'Admin' %}

                        <div class="form-group row">
                            <label for="id_is_active" class="comtrol-label col-md-3">Status</label>
                            <div class="col-md-7">
                                <label>
                                    <input type="checkbox" class="js-switch" id="id_is_active" value='True' name="is_active" {% if edit_us.is_active %}checked{% endif %}/>  Active
                                </label>
                                <br>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Roles</label>
                            <div class="col-md-7"><label>
                                <input type="checkbox" class="js-switch"  name="is_admin" value="True" {% if edit_us.is_admin %}checked{% endif %}/>  Admin
                            </label></div>
                            <br>
                            <div class="offset-md-3 col-md-7"><label>
                                <input type="checkbox" class="js-switch" name="is_employee" value="True" {% if edit_us.is_employee %}checked{% endif %}/>  Employee
                            </label></div>
                            <br>
                        </div>
                    {% endif %}                    
                    <button class="btn btn-success" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
  
{% endblock content %}
